.x-large {
    font-size: 40px;
}
.logo{
    cursor: pointer;
}

.logout-btn {
  background-color: rgb(255, 150, 52);
  padding: 10px;
  border: none;
  color: white;
}

.logout-btn:hover {
  background-color: inherit;
  color: black;
  border: 1px solid rgb(216, 216, 216);
}

.owner {
  text-align: center;
  cursor: pointer;
}

.owner-image {
  margin-top: 0px;
  border: 1px solid rgb(164, 164, 164);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.owner-info > p {
  margin-top: 0px;
  padding-left: 10px;
}

.owner-name {
  font-weight: 500;
  text-align: center;
  display: block;
  font-size: 12px;
}
