.col-4{
    margin:50px
}
.hold {
    width: inherit;
    margin: 20px auto;

}

.hold button {
    width: 80%;
    margin: auto;
    padding: 8px 15px;
    font-family: 'Roboto Serif', serif;

}
.centered{
    width:100%;
    text-align: center;
}
.mg-30{
    margin: 40px auto;
}